@charset "UTF-8";
@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');

/*
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}


/* Type */

	body {
		background-color: #fff;
		color: #777;
	}

	body, input, select, textarea {
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		font-weight: 400;
	}
a {color: #37a000; text-decoration: none !important;}

input.field{ border-radius:0px; height: 42px; border:none; box-shadow: 0 0 0 2px #e0e0e0; margin-bottom: 20px;}
input.field:focus{ border-radius:0px; border:none; box-shadow: 0 0 0 2px #008329;}
input.field.error { box-shadow: 0 0 0 2px #d50000!important; }
input.field.error + label.error { text-align: left !important;font-weight: 400;color: #d50000;float: left;position: relative;top: -15px;font-size: 12px; }

select.option{ border-radius:0px; height: 42px; border:none; box-shadow: 0 0 0 2px #e0e0e0; margin-bottom: 20px;}
select.option:focus{ border-radius:0px; border:none; box-shadow: 0 0 0 2px #008329;}
select.option.error { box-shadow: 0 0 0 2px #d50000!important; }
select.option.error + label.error { text-align: left !important;font-weight: 400;color: #d50000;float: left;position: relative;top: -15px;font-size: 12px; }

.btn-default {
    color: #37a000;
    background-color: transparent;
	border-radius: 0px !important;
}
.btn-signup {
    color: #FFF;
    background-color: transparent;
	border-radius: 0px !important;
	background: #37a000; 
	border:#37a000 solid 1px;
	font-size:14px !important;
}
.btn-login {
    color: #FFF;
    background-color: transparent;
	border-radius: 0px !important;
	background: #37a000; 
	border:#37a000 solid 1px;
	font-size:14px !important;
	width: 100%;
	margin: 30px 0 0 0;
}
.btn-filter{box-shadow: 0 0 0 2px #e0e0e0; border: 0px; width: 100%;}
.btn {
    padding: 10px 38px;
	border-radius: 0px !important;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus {
    border-color: #008329;
    color: #008329;
    /*box-shadow: 0 0 0 2px #37a000;*/
}
.btn-filter:hover, .btn-filter:focus, .btn-filter:active{ background:#37a000; color:#FFF !important;}
.btn-login:hover, .btn-signup:hover{ background:#FFF;}
.nomargin{ margin:0px;}

/* nav */
.navbar-default {
    background: none;
    border-color: #e7e7e7;
	padding: 10px 0px;
	margin-bottom: 0px;
}
.navbar {
    border-radius: 0px;
}
.navbar-brand{ padding:10px 15px;}
.navbar-default .navbar-nav>li>a
{
	font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
	color: #7d7d7d;
}
.navbar-default .navbar-nav>li>a:hover{ color:#b0e44f;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{ background:none; color: #008329;}


/* Banner */
.takeover-hero.jumbotron.green-hero {
    /*background-image: url(../../images/banner.jpg);*/
    background-image: url(../../images/painter.png);
}
.takeover-hero.jumbotron {
    text-align: left;
    max-height: 500px;
    min-height: 400px;
    min-height: 66vh;
}
.takeover-hero.jumbotron h1{ color:#FFF; text-shadow: 0px 2px 0px rgba(0,0,0,0.1);}

.jumbotron-video, .jumbotron-xlg, .jumbotron.with-nav {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2 {
    font-size: 40px;
    line-height: 50px;
	color: #333;
	font-weight: 700;
	margin:0px !important;
}
.section{ padding: 50px 0 !important;}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img { display: inline-block;}
.cat_thumb { max-height: 56px; }
.category-listing{}
.category-listing ul{ list-style: none; padding: 0; margin: 50px 0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.category-listing ul li{padding: 0;}

.category-listing ul li a {
    font-size: .63636rem;
    display: block;
    min-height: 15.36364em;
    padding: 5.36364em;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #fff;
	color:#666;
	text-decoration: none;
    position: relative;
}
.category-listing ul li a h4{ font-size:18px; font-weight: 300;}
.category-listing ul li a i{ margin-bottom: 25px; color: #5bbc2e;}
.category-listing ul li a i:after {
    position: absolute;
    top: 100%;
    right: -16px;
    left: -16px;
    display: inline-block;
    margin-top: 13px;
    content: "";
    /*border-bottom: 2px solid #e0e0e0;*/
}

.bg-grey-lighter {
    background-color: #f9f9f9;
	padding:50px 0px;
}
.opion{padding: 30px 0;}
.opion p{ font-size:14px; line-height: 24px;}
.find-icon{ background:url(../../images/find-cl.28496fca3df3.svg) 50% no-repeat; display: inline-block;
    width: 100px;
    height: 135px;
	margin: 0 auto;
}
.hire-icon{ background:url(../../images/hire-cl.febca6130d07.svg) 50% no-repeat; display: inline-block;
    width: 100px;
    height: 135px;
	margin: 0 auto;
}
.work-icon{ background:url(../../images/work-cl.e7af5cc1a9b7.svg) 50% no-repeat; display: inline-block;
    width: 100px;
    height: 135px;
	margin: 0 auto;
}
.pay-icon{ background:url(../../images/pay-cl.ad4aee2d07ec.svg) 50% no-repeat; display: inline-block;
    width: 100px;
    height: 135px;
	margin: 0 auto;
}
.bg-grey-lighter hr {
    width: 80px;
    margin-top: 23px;
    margin-bottom: 25px;
    border-top: 2px solid #e0e0e0;
}

.testimonial{ padding: 80px 0px;}
.testimonial h3{ font-size: 36px; font-weight: 300; line-height: 44px; padding-top: 50px;}
.testimonial p{ font-size: 14px; padding: 20px 0; line-height: 24px;}
.carousel-indicators{ bottom:-50px;}
.carousel-indicators li{ background: #ccc;}
.carousel-indicators li.active{ background: #5bbc2e;} 

.bg-ash, .bg-grey-light {
    background-color: #f2f2f2;
}
.section-logo-bar {
    text-align: center;
    padding-top: 33px;
    overflow-x: hidden;
}
.section-logo-bar h4 {
    margin-top: -4px;
    margin-bottom: 34px;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 22px;
}
.logobar {
    padding-top: 3.65%;
    background-image: url(../../images/logobar-desktop.svg);
	margin-bottom: 60px;
}
.logobar {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

.bg-grass {
    background-color: #5bbc2e;
	padding: 80px 0;
}
.bg-grass h2{ color:#FFF;}
.btn-white-border {
    color: #fff;
    border-color: #fff;
	margin: 20px 0;
}
.btn-white-border:hover{ background:#FFF;}

		
/* Footer */
.page-footer {
    background-color: #7d7d7d;
    color: #e0e0e0;
    padding-top: 76px;
    padding-bottom: 64px;
}
.page-footer .footer-sitemap {
    margin-bottom: 63px;
}
.page-footer {
    background-color: #7d7d7d;
    color: #e0e0e0;
    padding-top: 50px;
    padding-bottom: 30px;
}
.page-footer p{ font-size:13px; font-weight: 400;}
.page-footer h4 {
    color: #FFF !important;
	font-size: 18px !important;
}
ul.text-short li, ul.text-long li {
    margin-bottom: 9px;
}
.page-footer a {
    color: #e0e0e0;
	font-size: 13px;
	font-weight: 400;
}
.page-footer a:hover {
    color: #f2f2f2;
}


/* signup */
.signup-page{ background:#f9f9f9;}
.signup-box{ background:#FFF; padding:50px 30px; box-shadow: 0 0 0 2px #e0e0e0; margin: 60px -40px;}
.signup-box h4{ margin-bottom:30px; text-transform: uppercase;}
.sepration-tag{ height:1px; background: #ccc; margin: 30px 0px; position: relative;}
.sepration-tag span{ position: absolute; padding: 0 10px; font-size: 16px; font-weight: bold; color: #ccc; top: -14px; margin-left: -20px; left: 50%; background: #FFF;}
a.link-btn{ box-shadow: 0 0 0 2px #e0e0e0; padding: 10px 20px; display: inline-block; margin:0 0 10px 0; width: 100%; color: #666; text-decoration: none;}
a.link-btn:hover{ background: #5bbc2e; color:#FFF; box-shadow: 0 0 0 2px #5bbc2e;}

.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 0 0 20px 0;
  border: 2px solid rgba(0,0,0,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
  height: 128px;
  width: 128px;
}
.circle img {
	border-radius: 50%;
	width:100%;/* relative value for
				   adjustable image size */
}
.circle:hover {
	transition: ease-out 0.2s;
  border: 2px solid rgba(0,0,0,0.8);
  -webkit-transition: ease-out 0.2s;
}
a.circle {
  color: transparent;
} /* IE fix: removes blue border */	

/* login */
.login-box{ margin: 60px -40px;}
.login-box h4{ margin-bottom:30px; text-transform: uppercase;}
.login-box label{ font-size:13px;}
.login-box p{ font-size:13px; padding: 5px 0 0 0;}


/* Job Listing */
.avatar {
    object-fit: cover;
}
.avatar, .img-circle {
    border-radius: 50%;
}
.avatar-xs {
    width: 30px;
    height: 30px;
    margin: 10px 20px;
    padding: 0;
}
.noti-icon{ padding:11px 10px !important;}
.dropdown a{ font-size: 14px; color: #7d7d7d;}

.air-card {
    -webkit-box-shadow: 0 0 0 2px #e0e0e0;
    box-shadow: 0 0 0 2px #e0e0e0;
    background-color: #fff;
    margin: 40px 0 0 0px;
    padding: 40px 20px;
    float: left;
    width: 100%;
}
.job-listing{ margin:0px;}
.job-listing:hover{ box-shadow: 0 0 0 2px #37a000;
    background-color: #fff; z-index: 1; position: relative;}
.job-listing h4 a{ color:#37a000;}
.job-listing small{ font-size:13px;}
.job-listing small span{ font-size:13px; margin-right: 10px;}
.job-listing p{ padding:20px 0 0 0; font-size: 14px;}

.dropdown label{ font-size:13px; font-weight: normal; padding: 6px 5px 0 10px;}
p.rss-feeds{ font-size:14px; padding: 5px 0 0 0; margin-bottom: 0px;}
.client-spendings { margin-right: 10px;}

/*============= student profile rating Styles ===================*/
.rating {
  float: left;
  width: 100%;
  text-align: center;
}

.rating-num {
  color: #333333;
  font-size: 60px;
  font-weight: 100;
  line-height: 1em; 
}

.rating-stars {
  font-size: 16px;
  color: #E3E3E3;
  margin-bottom: .5em;
}
.rating-stars .active {
  color: #737373;
}

.rating-users {
  font-size: 14px;
}

.histo {
  float: left;
  width: 100%;
  font-size: 13px;
}

.histo-star {
  float: left;
  padding: 3px;

}

.histo-rate {
  width: 100%;
  display: block;
  clear: both;
}

.bar-block {
  margin-left: 5px;
  color: black;
  display: block;
  float: left;
  width: 75%;
  position: relative;
}

.bar {
  padding: 4px;
  display: block;
}

#bar-five {
  width: 100%;
  background-color: #9FC05A;
}

#bar-four {
  width: 100%;
  background-color: #ADD633;
}

#bar-three {
  width: 100%;
  background-color: #FFD834;
}

#bar-two {
  width: 100%;
  background-color: #FFB234;
}

#bar-one {
  width: 100%;
  background-color: #FF8B5A;
}

.rating .stars {
  margin: 0px 10px;
}

.rating .stars .star {
  float: left;
  padding: 0px 2px;
  cursor: pointer;
}

.rating .stars .star:before {
  font-family: 'FontAwesome';
  content: '\f005';
  color: #adadad;
  font-size: 0.8em;
}

.rating .stars .star:hover:before,
.rating .stars .star.to_rate:before,
.rating .stars .star.rated:before {
  color: #0ba04c;
}

.rating .stars .star.no_to_rate:before {
  color: #d5d5d5;
}

.custom-padding{ padding: 40px 20px;}
.custom-padding small{ font-size:70%;}
.badge{ font-weight:400; font-size:11px; background: #ababab; margin-right: 5px;}

.job-detail{ margin: 0px;}
.job-detail p{ padding:10px 0 0px 0; font-size: 14px; margin-bottom: 0px;}
.job-detail p span{ color:#000;}

.post-listing{ border-top:#e5e5e5 solid 1px; padding: 15px 0px;}
.post-listing h4 a{ color:#37a000; font-size:16px;}
.post-listing small{ font-size:13px;}
.post-listing small span{ font-size:13px; margin-right: 10px;}
.post-listing p{ padding:0px 0 0 0; font-size: 14px;}

.nopadding{ padding:0px;}
p.m-md-bottom{ margin-top:20px; font-size: 14px;}

/* custom css added by unaib amir */
.user-picks{ max-width: 900px; margin: 0 auto;}
.user-picks ul{ list-style: none; padding: 0; margin: 0px 0;
    border-top: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
}
.user-picks ul li{ float: left; width: 50%;}
.user-picks ul li a:hover{ float: left; background: #f9f9f9 !important; width: 100%;}

.user-picks ul li a {
    font-size: .63636rem;
    display: block;
    min-height: 15.36364em;
    padding: 5.36364em;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    background-color: #fff;
    color:#666;
    text-decoration: none;
}
.user-picks ul li a h4{ font-size:18px; font-weight: 300;}
.user-picks ul li a i{ margin-bottom: 25px; color: #5bbc2e;}

.bg-grey-lighter {
    background-color: #f9f9f9;
    padding:50px 0px;
}
.opion{padding: 60px 0;}

.opion p{ font-size:14px; line-height: 24px;}
.opion i{ color:#5bbc2e;}
.bg-grey-lighter hr {
    width: 80px;
    margin-top: 23px;
    margin-bottom: 25px;
    border-top: 2px solid #e0e0e0;
}


.category-listing ul li .back_layer {
    line-height: 22px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 26px;
    color: #5bbc2e;
    border: 2px solid #5bbc2e;
    background-color: #fff;
    opacity: 0;
    z-index: 999;
    font-size: 14px;
    transition: opacity .4s ease-in-out;
    padding: 26px 40px 0 40px;
}
.category-listing ul li .back_layer em {
    font-weight: 400;
    display: block;
    margin-top: 19px;
}
.category-listing ul li a:hover .back_layer {
    background-color: #fff;
    opacity: 1;
}
.container { transition: all 0.4s ease; }
.btn-filter .fa-sliders {
    transform: rotate(90deg);
}

.job-filters input[type="checkbox"] {
    display:none;
}
.job-filters input[type="checkbox"] + label {
}
.job-filters input[type="checkbox"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #37a000;
    position: relative;
    top: 3px;
    background-color: #fff;
    border: 2px solid #37a000;
    margin-left: -20px;
    margin-right: 10px;
    cursor: pointer;
}
.job-filters input[type="checkbox"]:checked + label span:before {
    position: absolute;
    content: "\f00c";
    font: normal normal normal 13px/1 FontAwesome;
    top: -1px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    left: 1px;
}
.job-filters input[type="radio"] {
    display:none;
}
.job-filters input[type="radio"] + label {
}
.job-filters input[type="radio"] + label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #37a000;
    position: relative;
    top: 3px;
    background-color: #fff;
    border: 2px solid #37a000;
    margin-left: -20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.job-filters input[type="radio"] + label span:before {
    position: absolute;
    content: '';
    font: normal normal normal 13px/1 FontAwesome;
    transition: all 0.3s ease;
    opacity:0;
}
.job-filters input[type="radio"]:checked + label span:before {
    position: absolute;
    content: "\f00c";
    font: normal normal normal 13px/1 FontAwesome;
    top: -1px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    left: 1px;
    transition: all 0.3s ease;
    opacity:1;
}
.job-filters label.radio, .job-filters label.checkbox {
    font-weight: normal;
    font-size: 14px;
    color: #494949;
    margin-bottom: 15px !important;
}
.job-filters {
    display: none;
}
.btn-active-green {
    background: #37a000 !important;
    color: #FFF !important;
    box-shadow: 0 0 0 2px #37a000 !important;
}
.select2-container {
    min-width: 250px !important;
}
.rss-feeds i { color: #37a000; display: inline-block;margin-right: 6px; }




/* Media quries */
	
@media (min-width: 1328px){

    .container {
        width: 1310px;
    }
}
	
@media screen and (max-width: 1024px) {

    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 10px;
    }
}
@media screen and (max-width: 980px) {

    .nav>li>a {
        position: relative;
        display: block;
        padding: 10px 12px;
}
    .jumbotron .h1, .jumbotron h1 {
        font-size: 58px;
    }
	h2{ font-size:30px; padding: 0 0px; line-height: normal;}
	.custom-padding{ padding:20px 0;}
	.btn {
        padding: 10px;
        border-radius: 0px !important;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 18px 12px;
    }
	.btn-signup{ margin-top:10px;}
}
@media screen and (max-width: 736px) {

}

@media screen and (max-width: 480px) {
    .btn-default { width:100%; margin-top: 10px;}
    .category-listing{ padding:0 15px;}
    .category-listing ul li {
        float: left;
        width: 100%;
    }
    h2{ font-size:30px; padding: 0 20px; line-height: normal;}

}